@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Mukta&family=Roboto&display=swap');

html  {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.bg-header {
  background: linear-gradient(to bottom, #F21D2B, white);
}

.bg-footer {
  background-color:#54E8DE;
}

.btn {
    margin:0.375rem;
}
.btn-outline-black {
    color: #000 !important;
    background-color: transparent !important;
    border: 2px solid #000 !important;
}

/* FOR PARALLAX SLIDESHOW */
.carousel-inner .carousel-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;

    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;

    /* FOR PARALLAX RESIZE */
    /* background-repeat: no-repeat;
    background-size: 100% auto; */
}

.slideImg1 {
  background-image: url('./img/slideshow1.jpg');
  height:86vh;
}

.slideImg2 {
  background-image: url('./img/slideshow2.jpg');
  height:86vh;
}

.slideImg3 {
  background-image: url('./img/slideshow3.jpg');
  height:86vh;
}

.slideImg4 {
  background-image: url('./img/slideshow4.jpg');
  height:86vh;
}

.slideImg5 {
  background-image: url('./img/slideshow5.jpg');
  height:86vh;
}
/* END PARALLAX SLIDESHOW*/

/* .container-carousel {
  margin:0 0%;
} */

.container-fluid.adopt-content {
  background:linear-gradient(to bottom, white, #07ABA0, white);
}

.content-bg {
  background:linear-gradient(to bottom, white, #07ABA0);
}

#contact {
  background-color:#07ABA0 !important;
}

.navbar-brand {
  font-family: 'Architects Daughter', cursive;
  font-size:2.5rem;
  text-shadow:0.1rem 0.1rem 0.2rem white;
}

.nav-item {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

.border-custom {
  width:100%;
  height:0.5rem;
  background-color:#107069;
}

h5,h6 {
  font-family: 'Mukta', sans-serif;  
  text-shadow:0.1rem 0.1rem 0.2rem gray;
}

/* LIGHTBOX CSS */
/****************/
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    border:none;
    margin: auto 20vw;
    padding: 0;
    max-width: 1200px;
    width: fit-content;
  }


  /* .modal-image {
  } */
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
    /* Caption text */
    .caption-container {
      text-align: center;
      background-color: black;
      padding: 2px 16px;
      color: white;
    }
    
  /* img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  } */
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/****************/
/* END OF LIGHTBOX CSS */


.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
}

.fa {
  font-size:5rem;
}

/* @media (max-width:1280px) {
  .slideImg1 .slideImg2 .slideImg3 .slideImg4 .slideImg5 {
  }
} */

@media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
}
    
@media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
}

/* FOR PARALLAX RESIZE */
/* @media screen and (max-width: 768px) {
	.carousel-item {
		background-attachment: inherit;
	}
} */